.main-content{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr 3fr;
}
.sidebar{
    background-color: rgb(106, 74, 182);
    grid-row: 1 / 3;
}
nav{
    display: grid;
    grid-column: 2 / 4;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}
.top-nav{
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: 1fr 2fr;
}
nav .right-side-nav{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
form{
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 15px;
}
.right-side-nav a{
    display: grid;
    grid-column: 2 / 4;
    justify-content: center;
    align-items: center;
}
.repositories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}
.card{
    background-color: bisque;
    border-style: solid;
    height: 200px;
    margin: 20px;   
}
.repositories > p{
    grid-column: 1 / 3;
    padding-left: 20px;
}